* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #0f0f0f;
    padding: 22px;
    width: 80vw;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.9);
}

.toolbar {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

button {
    padding: 10px 22px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #dddddd;
}

label {
    font-size: 16px;
    color: #cccccc;
}

input[type="color"] {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: transparent;
}

svg {
    width: 100%;
    height: 50vh;
    border: 2px dashed #444444;
    border-radius: 15px;
    background: #000000;
}

.counter {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #bbbbbb;
}
.back-home {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 22px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    border-radius: 25px;
    box-shadow: 0 6px 18px rgba(79, 172, 254, 0.4);
    transition: all 0.3s ease;
    justify-content: center;
    margin-top: 20px;
    display: flex;

}

.back-home:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 24px rgba(79, 172, 254, 0.6);
}

.back-home:active {
    transform: translateY(0);
    box-shadow: 0 4px 12px rgba(79, 172, 254, 0.3);
}
