* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #000000;
    color: #ffffff;
}

.outer-box {
    padding: 22px;
    background: #0a0a0a;
    border-radius: 18px;
    box-shadow: 0 0 40px rgba(0,0,0,0.9);
}

.box {
    width: 520px;
    padding: 20px;
    background: #111111;
    border-radius: 14px;
}

textarea {
    width: 100%;
    height: 160px;
    background: #000000;
    border: 2px solid #333333;
    border-radius: 12px;
    padding: 18px;
    color: #ffffff;
    font-size: 18px;
    resize: none;
    outline: none;
}

textarea::placeholder {
    color: #777777;
}

textarea:focus {
    border-color: #ffffff;
}

.counter {
    margin-top: 10px;
    text-align: right;
    font-size: 16px;
    color: #bbbbbb;
}
.back-home {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 22px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    border-radius: 25px;
    box-shadow: 0 6px 18px rgba(79, 172, 254, 0.4);
    transition: all 0.3s ease;
    
}
.back-home-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.back-home:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 24px rgba(79, 172, 254, 0.6);
}

.back-home:active {
    transform: translateY(0);
    box-shadow: 0 4px 12px rgba(79, 172, 254, 0.3);
}
